#!/usr/bin/env bash

MYPWD=${PWD}
# Make NAME also a variable also, so the container name can be defined in script.
NAME=spigot-instance
#MESSAGE=$1

create() {
    docker run \
    -it \
    --name $NAME \
    -d \
    -v $MYPWD/minecraft-files:/opt/minecraft \
    -v $MYPWD/minecraft-data:/var/lib/minecraft \
    -p 0.0.0.0:25565:25565 \
    -e DEFAULT_OP=iroczspot \
    -e MINECRAFT_EULA=true \
    -e MINECRAFT_VERSION=1.12.2 \
    -e ENABLE_RCON=true \
    -e MOTD='Spigot Testing Server' \
    -e MAX_PLAYERS=10 \
    -e RCON_PASSWORD=testing123 \
    sk33lz/spigot-server:latest

    docker logs -f $NAME
}

start() {
    docker start $NAME
    docker logs -f $NAME
}

stop() {
    echo "Stopping $NAME Container"
    docker stop $NAME
    echo "Removing $NAME Container"
    docker rm $NAME
    docker ps -a 
}

restart() {
    docker stop $NAME
    create
}

logs() {
    docker logs -f $NAME
}

#say() {
#    docker exec $NAME spigot console say $MESSAGE
#}

case "$1" in
  (create) 
    create
    exit 1
    ;;
  (start)
    start
    exit 0
    ;;
  (stop)
    stop
    exit 0
    ;;
  (restart)
    restart
    exit 0
    ;;
  (logs)
    logs
    exit 0
    ;;
  (say)
    say
    exit 0
    ;;
  (*)
    echo "Usage: $0 {create|start|stop}"
    echo "create: create a new server instance in the current directory on the local machine."
    echo "start: start an existing server instance."
    echo "stop: stop the server instance in the current directory on the local machine."
    echo "say: say a message on the admin console."
    echo "logs: take a look at the most recent logs from the docker container."
    exit 2
    ;;
esac
